.dialLines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  margin-left: -1px;
  transform-origin: 50% 150px;
  top: 0%;
  left: 50%;
}

.dialLines:nth-child(5n + 1) {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 15px;
  background: #666;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
