.date {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background-color: #888;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 11px;
  top: 80px;
  left: 50%;
  margin-left: -60px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
}
.day {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background-color: #888;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 11px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
}
span {
  display: inline-block;
  position: absolute;
  color: #222;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}
